# Binaries folder
/bin
# Build folder
/bld
/build
# CMake tests
/Testing
# External project folder
/ext/*/
# Sample folder
smp/Ldev
smp/Ldbg
smp/L
smp/sample_*
smp/tests_*
smp/*.bin
smp/*.dll
smp/*.exe
smp/*.exp
smp/*.pdb
smp/*.ilk
smp/*.lib
smp/*.manifest
smp/trace.json
smp/imgui.ini
smp/steam_appid.txt
# Generated source
*.gen
# Generated logs
*.log
# Visual Studio
*.aps
