# Binaries folder
/bin
# Build folder
/bld
# Sample folder
smp/Ldev
smp/Ldbg
smp/L
smp/*.bin
smp/*.dll
smp/*.exe
smp/*.exp
smp/*.pdb
smp/*.ilk
smp/*.lib
smp/*.manifest
smp/trace.json
# Generated source
*.gen
# Generated logs
*.log
# Visual Studio
*.aps
