# Binaries folder
/bin
# Object files folder
/obj
# Projects folder
/prj
# Sample folder
smp/Ldev
smp/Ldbg
smp/L
smp/*.bin
smp/*.dll
smp/*.exe
smp/*.exp
smp/*.pdb
smp/*.ilk
smp/*.lib
smp/*.manifest
smp/trace.json
# Premake
/pmk
/premake5
/premake5.exe
# Generated source
*.gen
# Generated logs
*.log
# Visual Studio
*.aps
